* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6fa;
  transition: background-color 0.1s;
}

.app {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  background-color: #f5f6fa;
  transition: background-color 0.1s;
}

.app--dark {
  background-color: #26242e;
  color: #fff;
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.app__header-right {
  display: flex;
  flex: 0.6;
  align-items: center;
}

.app__dropdown {
  width: 45% !important;
  min-width: auto !important;
  height: 2.8rem !important;
  flex-direction: row !important;
  font-size: 1vw !important;
}
.app__dropdown > div {
  border-radius: 100px !important;
  width: 200px !important;
}

.app__left {
  /* app__left가 화면의 90%를 차지한다. */
  flex: 0.9;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__right h3.graph__title {
  margin-top: 20px;
}

/* mobile breakpoint */
@media (max-width: 990px) {
  /* 화면이 990px 이하로 줄어들 때, app__right 부분이 아래로 내려간다. */
  .app {
    flex-direction: column;
  }
}
