.map {
  height: 500px;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.map .leaflet-container {
  width: 100%;
  /* 높이값을 설정해야 지도가 화면에 보인다. 기본적으로는 높이가 0인 상태이다.  */
  height: 100%;
}
